@model BackendAssignmentPt2.Models.MusicCD
<div class="row">
    <div class="col-md-2">
        <img src="/Images/@Model.ImageFileName" style="width:100px" />
    </div>
    <div class="col-md-4">
        <strong>Album:</strong> @Model.Title<br />
        <strong>Artist:</strong> @Model.Artist<br />
        <strong>Price:</strong> @Model.Price<br />
        <strong>Publisher:</strong> @Model.Label (@Model.CDReleased)<br /> <br />
        <div>
            <strong>Tracks:</strong>
            <ol>
                @foreach (Track track in Model.Tracks)
                {
                    <li>@track.Title (@track.Composer) @track.Length </li>
                }
            </ol>
            <p><strong>Total playing time</strong>: </p>
        </div>
    </div>
    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>